body {
    background-image: url(https://habrastorage.org/files/161/60c/b34/16160cb34a7342ae84ffa48a39b8a298.png);
}

.searchbar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    color: bisque;
    text-align: center;
    margin-bottom: 70px;
}

.input {
    width: 170px;
    height: 70px;
    border-radius: 15px;
    background-color: bisque;
    padding-left: 10px;
}

.button {
    width: 140px;
    height: 30px;
    border-radius: 15px;
    background-color: bisque;
    margin-left: 20px;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  max-width: 90%;
  max-height: 90%;
}

.modal img {
  width: 100%;
  height: 400px;
  display: block;
}
